# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
env/
ENV/

# Poetry lock file backups (optional)
poetry.lock.bak

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db
